[submodule "git_submodules_example"]
	path = git_submodules_example
	url = ./git_submodules_example
[submodule "logging_examples"]
	path = logging_examples
	url = ./logging_examples
[submodule "qlikview_calendar"]
	path = qlikview_calendar
	url = ./qlikview_calendar
[submodule "convert_images_to_pdf"]
	path = convert_images_to_pdf
	url = ./convert_images_to_pdf
[submodule "my_life_calendar"]
	path = my_life_calendar
	url = ./my_life_calendar
